<!-- templates/delphi.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Delphi</h1>
    <p>The Delphi method is a structured questioning tool, used to gather opinion from a
        panel of subject matter experts by using multiple rounds of questionnaires. It is a
        systematic and qualitative method that relies on experts to highlight the future
        issues they think could be important. It can be used to gain consensus as well as to
        measure diversity of view</p>
{% endblock %}
