<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
<h1>Welcome to FUTURE</h1>
<p>
    This is a collection of tools and policy pathways.
    Use the app to assist in your forward thinking and long term planning
</p>

{% if user.is_authenticated %}
    {% if projects %}
        <h2>Your Projects</h2>
        <ul>
            {% for project in projects %}
                <li><a href="">{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any projects yet. <a href="{% url 'projects' %}">Create one!</a></p>
    {% endif %}
{% else %}
    <p>
        <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a>
        to start creating projects and using our tools.
    </p>
{% endif %}
{% endblock %}
